<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javasm.wing.dao.SystemModelMapper">

  <resultMap id="BaseResultMap" type="com.javasm.wing.model.SystemModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="model_name" jdbcType="VARCHAR" property="modelName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, model_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wing_model
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wing_model
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.javasm.wing.model.SystemModel">
    insert into wing_model (id, model_name)
    values (#{id,jdbcType=INTEGER}, #{modelName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.javasm.wing.model.SystemModel">
    insert into wing_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="modelName != null">
        model_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="modelName != null">
        #{modelName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.javasm.wing.model.SystemModel">
    update wing_model
    <set>
      <if test="modelName != null">
        model_name = #{modelName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.javasm.wing.model.SystemModel">
    update wing_model
    set model_name = #{modelName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>