<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javasm.wing.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.javasm.wing.model.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="admin" property="admin" jdbcType="INTEGER" />
    <result column="logname" property="logname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="employee_id" property="employeeId" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="rose" property="rose" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="remark5" property="remark5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, admin, logname, password, employee_id, state, phone_number, rose, email, remark1, 
    remark2, remark3, remark4, remark5
  </sql>
  <!--自增方法-->
  <select id="selectByEmployeeId" resultMap="BaseResultMap">
    select * from wing_user where employee_id=#{employeeId,jdbcType=BIGINT}
  </select>
  <select id="selectByLogName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wing_user
    where  logname = #{logName,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from wing_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wing_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.javasm.wing.model.User" >
    insert into wing_user (id, admin, logname, 
      password, employee_id, state, 
      phone_number, rose, email, 
      remark1, remark2, remark3, 
      remark4, remark5)
    values (#{id,jdbcType=BIGINT}, #{admin,jdbcType=INTEGER}, #{logname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{employeeId,jdbcType=BIGINT}, #{state,jdbcType=INTEGER}, 
      #{phoneNumber,jdbcType=VARCHAR}, #{rose,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, 
      #{remark1,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR}, #{remark3,jdbcType=VARCHAR}, 
      #{remark4,jdbcType=VARCHAR}, #{remark5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.javasm.wing.model.User" >
    insert into wing_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="admin != null" >
        admin,
      </if>
      <if test="logname != null" >
        logname,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="employeeId != null" >
        employee_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="rose != null" >
        rose,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
      <if test="remark2 != null" >
        remark2,
      </if>
      <if test="remark3 != null" >
        remark3,
      </if>
      <if test="remark4 != null" >
        remark4,
      </if>
      <if test="remark5 != null" >
        remark5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="admin != null" >
        #{admin,jdbcType=INTEGER},
      </if>
      <if test="logname != null" >
        #{logname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="rose != null" >
        #{rose,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="remark5 != null" >
        #{remark5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.javasm.wing.model.User" >
    update wing_user
    <set >
      <if test="admin != null" >
        admin = #{admin,jdbcType=INTEGER},
      </if>
      <if test="logname != null" >
        logname = #{logname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        employee_id = #{employeeId,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="rose != null" >
        rose = #{rose,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        remark2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        remark3 = #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        remark4 = #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="remark5 != null" >
        remark5 = #{remark5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.javasm.wing.model.User" >
    update wing_user
    set admin = #{admin,jdbcType=INTEGER},
      logname = #{logname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      employee_id = #{employeeId,jdbcType=BIGINT},
      state = #{state,jdbcType=INTEGER},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      rose = #{rose,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR},
      remark3 = #{remark3,jdbcType=VARCHAR},
      remark4 = #{remark4,jdbcType=VARCHAR},
      remark5 = #{remark5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>